spring:
  application:
    name: fapshi-backend

  datasource:
    url: jdbc:mysql://mysql-3f9232cd-pewoparfait-02ce.b.aivencloud.com:21097/defaultdb?sslMode=REQUIRED&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: avnadmin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: ${PORT}
  address: 0.0.0.0
